
# Environnements virtuels Python
.env/
.env_windows/
venv/
__pycache__/

# Fichiers temporaires ou système
*.pyc
*.pyo
*.log
*.tmp
*.DS_Store
Thumbs.db

# Dossiers Streamlit locaux
.streamlit/

# Fichiers générés par l'utilisateur
*.sqlite3
*.db
*.sav

# Configurations spécifiques à l'éditeur
.vscode/
.idea/

# Déploiement ou fichiers secrets
*.env
.secret/
*.key
*.pem
*.crt

# Fichiers générés par Git
*.lock
*.swp
